git "https://bitbucket.org/gigigo/gigigo-giglibrary-ios.git" ~> 2.2.6
github "Orchextra/orchextra-ios-sdk" "develop"
github "https://github.com/youtube/youtube-ios-player-helper"
git "https://bitbucket.org/gigigo/gigigo-gigpassbook-ios.git" ~> 3.0
