github "Orchextra/orchextra-ios-sdk" ~> 2.2
github "gigigoapps/gigigo-ios-lib" ~> 3.0
github "gigigoapps/gigigo-ios-passbook" ~> 4.0
github "youtube/youtube-ios-player-helper" ~> 0.1.6
github "kaishin/Gifu" ~> 2.0
github "ashleymills/Reachability.swift" ~> 4.0
