//
//  Production.xcconfig
//  OCM
//
//  Created by Sergio López on 26/1/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//


// APP INFO
APP_NAME = Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.production

// ENVIROMENTS

OCM_HOST            = cm.orchextra.io
ORCHEXTRA_HOST      = sdk.orchextra.io

// ORCHEXTRA

ORCHEXTRA_APIKEY = 33ecdcbe03d60cb530e6ae13a531a3c9cf3c150e
ORCHEXTRA_APISECRET = be772ab61e2571230c596aa95237cc618023befb
