//
//  Quality.xcconfig
//  OCM
//
//  Created by Judith Medina on 10/8/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//

// APP INFO
APP_NAME = [Q] Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.quality

// ENVIROMENTS
OCM_HOST            = quality
ORCHEXTRA_HOST      = quality
OCM_BUSINESS_UNIT   = oat-it

// ORCHEXTRA
// Dashboard: [UAT][ES] ORCHEXTRA DEMO
ORCHEXTRA_APIKEY = 8286702045adf5a3ad816f70ecb80e4c91fbb8de
ORCHEXTRA_APISECRET = eab37080130215ced60eb9d5ff729049749ec205


// ORCHEXTRA
// [UAT][ES] PUSH NOTIFICATION TEST
//ORCHEXTRA_APIKEY = a332a27f4c136f4bf3d6958035cffdf2ee13f805
//ORCHEXTRA_APISECRET = 54949ba59875b6465f292d760a389d04213af799
