//
//  Quality.xcconfig
//  OCM
//
//  Created by Judith Medina on 10/8/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//


// APP INFO
APP_NAME = [Q] Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.quality

// ENVIROMENTS

OCM_HOST            = cm.q.orchextra.io
ORCHEXTRA_HOST      = sdk.q.orchextra.io
OCM_BUSINESS_UNIT   = it

// ORCHEXTRA
// Dashboard: [UAT][ES] ORCHEXTRA DEMO

ORCHEXTRA_APIKEY = f01b8a0912540ba0c358dfc7dedca4f3b4aab2a5
ORCHEXTRA_APISECRET = df36979bd7f844d0fa1a0cf0add796aa6735f90e


// ORCHEXTRA
// [UAT][ES] PUSH NOTIFICATION TEST
//ORCHEXTRA_APIKEY = a332a27f4c136f4bf3d6958035cffdf2ee13f805
//ORCHEXTRA_APISECRET = 54949ba59875b6465f292d760a389d04213af799

