//
//  Sofia.xcconfig
//  OCM
//
//  Created by Sergio López on 26/1/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//

// ENVIROMENTS

OCM_HOST        = cm.orchextra.io
ORCHEXTRA_HOST  = sdk.orchextra.io
OCM_COUNTRY     = IT

// ORCHEXTRA

ORCHEXTRA_APIKEY     = 971486ffda8db2a4b183d7402df48539e04d44ab
ORCHEXTRA_APISECRET  = cc0d67d8312f656b82d5e2da682efbee233f21c1
