//
//  Staging.xcconfig
//  OCM
//
//  Created by Judith Medina on 10/8/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//



// APP INFO
APP_NAME = [S] Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.staging

// ENVIROMENT STAGING

OCM_HOST            = cm.s.orchextra.io
ORCHEXTRA_HOST      = sdk.s.orchextra.io
OCM_BUSINESS_UNIT   = oat-it

// ORCHEXTRA
// Dashboard: Orchextra Demo en Stagging

ORCHEXTRA_APIKEY = 3b1f7352079beaede1b234e798bdf05a0266a0ff
ORCHEXTRA_APISECRET = df22059fd20c5b4b6e6465ab6b044628ea9a0726
