//
//  Staging.xcconfig
//  OCM
//
//  Created by Judith Medina on 10/8/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//



// APP INFO
APP_NAME = [S] Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.staging

// ENVIROMENT STAGING

OCM_HOST            = cm.s.orchextra.io
ORCHEXTRA_HOST      = staging

// ORCHEXTRA
// Dashboard: Orchextra Demo en Stagging

ORCHEXTRA_APIKEY = 7d1f4ae765162c5e57be31b77ac5b30c6df9ad7b
ORCHEXTRA_APISECRET = 44b38136103c2e3613f1068814922c62ba71bbfb

