//
//  Staging.xcconfig
//  OCM
//
//  Created by Judith Medina on 10/8/17.
//  Copyright © 2017 Gigigo SL. All rights reserved.
//

// APP INFO
APP_NAME = [S] Orchextra
BUNDLE_IDENTIFIER = com.orchextra.ocm.staging

// ENVIROMENT STAGING
OCM_HOST            = staging
ORCHEXTRA_HOST      = staging
OCM_BUSINESS_UNIT   = oat-it

// ORCHEXTRA
// Dashboard: Orchextra Demo en Stagging
ORCHEXTRA_APIKEY = adfc8ba4340828a054bf061f692707a197af96cb
ORCHEXTRA_APISECRET = 677cf75a17aeec144ee402c281ad3a732d736a8a
